* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
}

/* FORM */
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #ffffff; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=890&q=80"); */
  background-color: var(--color-bg);
  background-size: cover;
  background-blend-mode: darken;
  width: 100%; /* Increase width to 100% */
  padding: 20px; /* Add padding for better spacing */
  font-family: "Josefin Sans", sans-serif;
}

.registerTitle {
  margin-top: 50px;
  font-size: 40px;
  color: red;
}

.registerForm {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.registerForm>label {
  margin: 10px 0;
  color: rgb(0, 0, 0);
}

.registerInput {
  width: 100%; /* Make input fields full width */
  max-width: 400px; /* Add max-width for better appearance */
  padding: 10px 15px; /* Increase padding for better design */
  margin: 10px 0; /* Add margin for spacing between inputs */
  border: 2px solid #ccc; /* Light border */
  font-size: 1.1rem; /* Increase font size */
  color: #333; /* Text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add slight shadow for depth */
  background-color: white;
  border: none;
  border-radius: 10px;
}

.marksInput {
  width: 50%; 
  max-width: 90px; 
  padding: 10px 15px; 
  margin: 7px 10px; 
  border: 2px solid #ccc; 
  font-size: 1.1rem; 
  color: #333; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerButton:hover {
  background-color: #313131;
}

@media screen and (max-width: 480px) {
  .register {
    background-position: right;
  }

  .registerInput {
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
  }

  .registerButton {
    font-size: 16px;
    padding: 20px;
    border-radius: 12px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  
  header, footer {
    display: none;
  }
  
  .printable-content, .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}